
@import "normalize";
@import "google-homepage";


$google-center: #faf5b1;


/* Styling */
body {
    background: white;
}



// Stage (Parent)
#stage {
    position: relative;
    overflow: hidden;
  
}


// Child
#Layer_1 {
position: absolute;
margin-top: 15px;
    margin-left: -260px;
width: 85%;
    t

}



// Child



// Animations Go Here
// First Frame




.cls-16{
    
 animation-name: pulse; 
 animation-duration: 3s; 
 animation-iteration-count: 10;
 animation-direction: normal; 
 animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: backwards; /* or: backwards, both, none */
 animation-delay: 2s;
}




@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  20% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}



// Last Frame




