
@import "normalize";
@import "google-homepage";


$google-center: #faf5b1;


/* Styling */
body {
    background: white;
}



// Stage (Parent)
#stage {
    position: relative;
    overflow: hidden;
  
}


// Child
#Layer_1 {
position: absolute;
margin-top: 13px;
    margin-left: -260px;
width: 85%;

}



// Child



// Animations Go Here
// First Frame


.cls-16:hover {
    
 animation-name: pulse; 
 animation-duration: 2s; 
 animation-iteration-count: 10;
 animation-direction: normal; 
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: .25s;
}



@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}



// Last Frame




